$colorPrimarioTitulo : #274610;
$colorSecundarioFormulario : #000000;
$colorPrimarioFooter : #388e50;
$colorBlanco : white;
$colorSecundarioFooter : #469b1b;
$colorTerciarioFooter : #213c28;
$boton:(
    color:blue,
    background-color: yellow,
    width: auto,


)



